
body {
  background-color: @bg-color-m;
}

#app {
  padding-top: 64px;
}

.data-card {
  padding: @space-l;
  border-radius: @radius-l;
  background: @bg-color-l;
  width: 100%;
  height: 280px;

  .data-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .data-card-title-name {
      font-size: @size-s;
      font-weight: 600;
      color: @font-color-l;
    }
  }
}